{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="A simple Document Viewer made with Python and Django.">
	<meta name="author" content="Nishant Ranjan">
	<title>AIP DIGITAL</title>
	<!-- Bootstrap core CSS -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!-- Custom styles for this template -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	{% block CSS %}

	{% endblock CSS %}
</head>

<body id="page-top">
	<div class="allButFooter">
		<!-- Navigation -->
		<nav class="navbar navbar-default">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand page-scroll" href="{% url 'documents:view' %}">
						<h1><strong><em>AIP DIGITAL</em></strong></h1>
					</a>
					<br>
					<a href="https://stackoverflow.com/questions/50833980/how-to-prevent-multiple-login-in-django"
						target="_blank" rel="noopener noreferrer"></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						{% if user.is_authenticated %}
						
						
						<li>
							<a class="page-scroll" ><i class="glyphicon glyphicon-bell"></i></a>
						</li>


						<li>
							<a class="page-scroll" href="{% url 'logout' %}">Salir {{request.user}}</a>
						</li>
						{% else %}
						
						<li>
							<a class="page-scroll" href="{% url 'login' %}">Iniciar sesión</a>
						</li>
						{% endif %}
					</ul>
				</div>
		</nav>
		<br>


		{% if messages %}
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">
			{{ message }}
		</div>
		{% endfor %}
		{% endif %}
		{% block content %}

		
		{% endblock content %}
	</div>

	<p id="back-top">
		<a href="#top"><i class="fa fa-angle-up"></i></a>
	</p>
	<!-- <footer>
		<div class="siteFooterBar">
			<div class="content">
				<img class="img-fluid img1" src="/static/images/cruzandina.jpg">
				<img class="img-fluid img2" src="/static/images/LOGO_AASANA_FOOT.png">
			</div>
			<div class="text-center">
				<p>UNIDAD NACIONAL DE NAVEGACIÓN AÉREA</p>
				<p>SERVICIO NACIONAL DE INFORMACIÓN AERONAÚTICA</p>
				<p><span>DIRECCIÓN:</span> Calle Reyes Ortiz Esq. Federico Suazo #74 La Paz - Bolivia</p>
				<p class="copyr">© Copyright <a href="#"><span>Allianze 2021</span></a>– Todos los derechos reservados</p>
			</div>

		</div>
	</footer> -->
	<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

	<!-- Footer Links -->
	<div class="container-fluid text-center text-md-left">
  
	  <!-- Grid row -->
	  <div class="row">
  
		<!-- Grid column -->
		<div class="col-md-5 mt-md-0 mt-3">
  
		  <!-- Content -->
		  <!-- <h5 class="text-uppercase">Footer Content</h5> -->
		  <div class="content">
			<img class="img-fluid img1" src="/static/images/chakana.png">
			<img class="img-fluid img2" src="/static/images/LOGO_AASANA_FOOT.png">
		</div>
			<div class="text-center">
				<p>UNIDAD NACIONAL DE NAVEGACIÓN AÉREA</p>
				<p>SERVICIO NACIONAL DE INFORMACIÓN AERONAÚTICA</p>
			</div>
  
		</div>
		<!-- Grid column -->
  
		<!-- <hr class="clearfix w-100 d-md-none pb-3"> -->
  
		<!-- Grid column -->
		<div class="col-md-3 mb-md-0 mb-3">
  
		  <!-- Links -->
		  <h5 class="text-uppercase">CONTACTOS</h5>
		  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
		  <ul class="list-unstyled">
			<li>
			  <a href="#!">(591-2) 2370341</a>
			</li>
			<li>
			  <a href="#!">(591-2) 2351305</a>
			</li>
			<li>
			  <a href="#!">(591-2) 2354514</a>
			</li>
		  </ul>
  
		</div>
		<!-- Grid column -->
  
		<!-- Grid column -->
		<div class="col-md-4 mb-md-0 mb-3">
  
		  <!-- Links -->
		  <h5 class="text-uppercase">DIRECCIÓN</h5>
		  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
  
		  <ul class="list-unstyled">
			<li>
			  <a href="#!">Calle Reyes Ortiz Esq. Federico Suazo #74
				La Paz - Bolivia</a>
			</li>
			<!-- <li>
			  <a href="#!">Link 2</a>
			</li>
			<li>
			  <a href="#!">Link 3</a>
			</li>
			<li>
			  <a href="#!">Link 4</a>
			</li> -->
		  </ul>
  
		</div>
		<!-- Grid column -->
  
	  </div>
	  <!-- Grid row -->
  
	</div>
	<!-- Footer Links -->
  
	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">
		<p class="copyr">© Copyright <a href="#"><span>Allianze 2021</span></a>– Todos los derechos reservados</p>
	</div>
	<!-- Copyright -->
  
  </footer>
  <!-- Footer -->
	{% block JS %}

	{% endblock JS %}

	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/SmoothScroll.js' %}"></script>
	<script src="{% static 'js/theme-scripts.js' %}"></script>

</body>

</html>