{% extends "base.html" %}
{% load static %}

{% load apptags %}


{% block CSS %}

<style>
	.container_foto {
		background-color: rgba(57, 62, 93, 0.7);
		padding: 0;
		overflow: hidden;
		max-width: 200px;
		margin: 5px;
	}

	.container_foto article {
		padding: 10%;
		position: absolute;
		bottom: 0;
		z-index: 1;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

	.container_foto h2 {
		color: #fff;
		font-weight: 800;
		font-size: 25px;
		border-bottom: #fff solid 1px;
	}

	.container_foto h6 {
		font-weight: 300;
		color: #fff;
		font-size: 16px;
	}

	.container_foto img {
		width: 100%;
		top: 0;
		left: 0;
		opacity: 0.4;
		-webkit-transition: all 4s ease;
		-moz-transition: all 4s ease;
		-o-transition: all 4s ease;
		-ms-transition: all 4s ease;
		transition: all 4s ease;
	}

	.ver_mas {
		background-color: #7ce678;
		position: absolute;
		width: 100%;
		height: 20%;
		bottom: 0;
		z-index: 1;
		opacity: 0;
		transform: translate(0px, 70px);
		-webkit-transform: translate(0px, 70px);
		-moz-transform: translate(0px, 70px);
		-o-transform: translate(0px, 70px);
		-ms-transform: translate(0px, 70px);
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.ver_mas span {
		font-size: 25px;
		color: #fff;
		position: relative;
		margin: 0 auto;
		width: 100%;
		top: 13px;
	}


	/*hovers*/

	.container_foto:hover {
		cursor: pointer;
	}

	.container_foto:hover img {
		opacity: 0.1;
		transform: scale(1.5);
	}

	.container_foto:hover article {
		transform: translate(2px, -29px);
		-webkit-transform: translate(2px, -29px);
		-moz-transform: translate(2px, -29px);
		-o-transform: translate(2px, -29px);
		-ms-transform: translate(2px, -29px);
	}

	.container_foto:hover .ver_mas {
		transform: translate(0px, 0px);
		-webkit-transform: translate(0px, 0px);
		-moz-transform: translate(0px, 0px);
		-o-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
		opacity: 1;
	}
</style>

{% endblock CSS %}


{% block content %}

<section>
	<div class="container">

		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="section-title">
					<h2>Unidad Nacional de Navegación Aérea</h2>
					<h3>Servicio Nacional de Información Aeronáutica</h3>
				</div>
			</div>
		</div>


		<h1>GENERALIDADES</h1>
		<div class="container-fluid contenedor text-center">
			<div class=" container text-center">
				{% for obj in object_list %}
				{% with obj.title|split:' - ' as vec_titulos %}
				{% ifequal vec_titulos.0 'GEN' %}
				{% for doc in document_list %}
				{% if doc.document_id == obj.id %}
				<a href="http://google.com" target="_blank" rel="noopener noreferrer">
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
						<div class="ver_mas text-center">
							<span class="lnr lnr-eye"></span>
							ojo
						</div>
						<article class="text-left">
							<h2>{{doc}}</h2>
							<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
								<button class="btn btn-info" style="margin: 0 5px 10px 0;">{{doc}}</button>
							</a>
						</article>
						<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
							alt="">
					</div>
				</a>
				{% endif %}
				{% endfor %}

				{% endifequal%}
				{% endwith%}
				{% endfor%}
			</div>
		</div>

		<br>
		<br>
		<br>
		<br>

		<h1>AERODROMOS</h1>



		<ul class="nav nav-tabs">
			<li class="active">
				<a data-toggle="tab" href="#home">AD 0</a>
			</li>
			<li>
				<a data-toggle="tab" href="#menu1">AD 1</a>
			</li>
			<li>
				<a data-toggle="tab" href="#menu2">AD 2 INTL</a>
			</li>
			<li>
				<a data-toggle="tab" href="#menu3">AD 2 NTL</a>
			</li>
		</ul>

		<div class="tab-content">

			<div id="home" class="tab-pane fade in active">
				<h3>HOME</h3>
				<!-- <object data='https://pdfjs-express.s3-us-west-2.amazonaws.com/docs/choosing-a-pdf-viewer.pdf'
					type="application/pdf" width="500" height="678">
					<iframe src='https://pdfjs-express.s3-us-west-2.amazonaws.com/docs/choosing-a-pdf-viewer.pdf'
						width="100%" height="678">
						<p>This browser does not support PDF!</p>
					</iframe>
				</object> -->


				<div class=" container text-center">
					{% for obj in object_list %}
					{% with obj.title|split:' - ' as vec_titulos %}
					{% ifequal vec_titulos.0 'AD0' %}
					{% for doc in document_list %}
					{% if doc.document_id == obj.id %}
					
					<div>
						<iframe id="pdf-js-viewer" src="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" title="webviewer" frameborder="0" width="1100" height="800"></iframe>
					</div>

					{% endif %}
					{% endfor %}

					{% endifequal%}
					{% endwith%}
					{% endfor%}
				</div>



			</div>

			<div id="menu1" class="tab-pane fade">
				<div class=" container text-center">
					{% for obj in object_list %}
					{% with obj.title|split:' - ' as vec_titulos %}
					{% ifequal vec_titulos.0 'AD1' %}
					{% for doc in document_list %}
					{% if doc.document_id == obj.id %}
					<object data='/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}' type="application/pdf"
						width="500" height="678">
						<iframe src='/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}' width="100%"
							height="678">
							<p>This browser does not support PDF!</p>
						</iframe>
					</object>

					{% endif %}
					{% endfor %}

					{% endifequal%}
					{% endwith%}
					{% endfor%}
				</div>
			</div>
			<div id="menu2" class="tab-pane fade">
				<div class=" container text-center">
					{% for obj in object_list %}
					{% with obj.title|split:' - ' as vec_titulos %}
					{% ifequal vec_titulos.0 'AD1' %}
					{% for doc in document_list %}
					{% if doc.document_id == obj.id %}
					<object data='/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}' type="application/pdf"
						width="500" height="678">
						<iframe src='/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}' width="100%"
							height="678">
							<p>This browser does not support PDF!</p>
						</iframe>
					</object>

					{% endif %}
					{% endfor %}

					{% endifequal%}
					{% endwith%}
					{% endfor%}
				</div>
			</div>
			<div id="menu3" class="tab-pane fade">
				<h3>Menu 3</h3>
				<div class=" container text-center">
					{% for obj in object_list %}
					{% with obj.title|split:' - ' as vec_titulos %}
					{% ifequal vec_titulos.0 'AD0' %}
					{% for doc in document_list %}
					{% if doc.document_id == obj.id %}
					<object data='/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}' type="application/pdf"
						width="500" height="678">
						<iframe src='/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}' width="100%"
							height="678">
							<p>This browser does not support PDF!</p>
						</iframe>
					</object>

					{% endif %}
					{% endfor %}

					{% endifequal%}
					{% endwith%}
					{% endfor%}
				</div>
			</div>
		</div>
	</div>







	<h2>AD 0</h2>
	<div class="container-fluid contenedor text-center">
		<div class=" container text-center">
			{% for obj in object_list %}
			{% with obj.title|split:' - ' as vec_titulos %}
			{% ifequal vec_titulos.0 'AD0' %}
			{% for doc in document_list %}
			{% if doc.document_id == obj.id %}
			<a href="http://google.com" target="_blank" rel="noopener noreferrer">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
					<div class="ver_mas text-center">
						<span class="lnr lnr-eye"></span>
						Publicar
					</div>
					<article class="text-left">
						<h2>{{doc}}</h2>
						<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
							<button class="btn btn-info" style="margin: 0 5px 10px 0;">{{doc}}</button>
						</a>
					</article>
					<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
						alt="">
				</div>
			</a>
			{% endif %}
			{% endfor %}

			{% endifequal%}
			{% endwith%}
			{% endfor%}
		</div>
	</div>



	<h2>AD 1</h2>
	<div class="container-fluid contenedor text-center">
		<div class=" container text-center">
			{% for obj in object_list %}
			{% with obj.title|split:' - ' as vec_titulos %}
			{% ifequal vec_titulos.0 'AD1' %}
			{% for doc in document_list %}
			{% if doc.document_id == obj.id %}
			<a href="http://google.com" target="_blank" rel="noopener noreferrer">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
					<div class="ver_mas text-center">
						<span class="lnr lnr-eye"></span>
						Publicar
					</div>
					<article class="text-left">
						<h2>{{doc}}</h2>
						<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
							<button class="btn btn-info" style="margin: 0 5px 10px 0;">{{doc}}</button>
						</a>
					</article>
					<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
						alt="">
				</div>
			</a>

			{% endif %}
			{% endfor %}

			{% endifequal%}
			{% endwith%}
			{% endfor%}
		</div>
	</div>


	<h2>AD 2 INTL</h2>
	<div class="container-fluid contenedor text-center">
		<div class=" container text-center">
			{% for obj in object_list %}
			{% with obj.title|split:' - ' as vec_titulos %}
			{% ifequal vec_titulos.0 'AD2INTL' %}
			{% for doc in document_list %}
			{% if doc.document_id == obj.id %}
			<a href="http://google.com" target="_blank" rel="noopener noreferrer">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
					<div class="ver_mas text-center">
						<span class="lnr lnr-eye"></span>
						Publicar
					</div>
					<article class="text-left">
						<h2>{{doc}}</h2>
						<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
							<button class="btn btn-info" style="margin: 0 5px 10px 0;">{{doc}}</button>
						</a>
					</article>
					<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
						alt="">
				</div>
			</a>
			{% endif %}
			{% endfor %}

			{% endifequal%}
			{% endwith%}
			{% endfor%}
		</div>
	</div>



	<h2>AD 2 NTL</h2>
	<div class="container-fluid contenedor text-center">
		<div class=" container text-center">
			{% for obj in object_list %}
			{% with obj.title|split:' - ' as vec_titulos %}
			{% ifequal vec_titulos.0 'AD2NTL' %}
			{% for doc in document_list %}
			{% if doc.document_id == obj.id %}
			<a href="http://google.com" target="_blank" rel="noopener noreferrer">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
					<div class="ver_mas text-center">
						<span class="lnr lnr-eye"></span>
						Publicar
					</div>
					<article class="text-left">
						<h2>{{doc}}</h2>
						<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
							<button class="btn btn-info" style="margin: 0 5px 10px 0;">{{doc}}</button>
						</a>
					</article>
					<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
						alt="">
				</div>
			</a>
			{% endif %}
			{% endfor %}

			{% endifequal%}
			{% endwith%}
			{% endfor%}
		</div>
	</div>





	<br>
	<br>
	<br>
	<br>

	<h1>ENR - EN RUTA</h1>
	<div class="container-fluid contenedor text-center">
		<div class=" container text-center">
			{% for obj in object_list %}
			{% with obj.title|split:' - ' as vec_titulos %}
			{% ifequal vec_titulos.0 'ERN' %}
			{% for doc in document_list %}
			{% if doc.document_id == obj.id %}
			<a href="http://google.com" target="_blank" rel="noopener noreferrer">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
					<div class="ver_mas text-center">
						<span class="lnr lnr-eye"></span>
						Publicar
					</div>
					<article class="text-left">
						<h2>{{doc}}</h2>
						<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
							<button class="btn btn-info" style="margin: 0 5px 10px 0;">{{doc}}</button>
						</a>
					</article>
					<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
						alt="">
				</div>
			</a>
			{% endif %}
			{% endfor %}

			{% endifequal%}
			{% endwith%}
			{% endfor%}
		</div>
	</div>

	<br>
	<br>
	<br>
	<br>

	<h1>CIRCULARES</h1>
	<a href="http://google.com" target="_blank" rel="noopener noreferrer">
		<div class="container-fluid contenedor text-center">
			<div class=" container text-center">
				{% for obj in object_list %}
				{% with obj.title|split:' - ' as vec_titulos %}
				{% ifequal vec_titulos.0 'AIC' %}
				{% for doc in document_list %}
				{% if doc.document_id == obj.id %}
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
					<div class="ver_mas text-center">
						<span class="lnr lnr-eye"></span>
						Publicar
					</div>
					<article class="text-left">
						<h2>{{doc}}</h2>
						<h6>{{obj.description}}</h6>
						<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
							<button class="btn btn-info" style="margin: 0 5px 10px 0;">{{doc}}</button>
						</a>
					</article>
					<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
						alt="">
				</div>
				{% endif %}
				{% endfor %}

				{% endifequal%}
				{% endwith%}
				{% endfor%}
			</div>
		</div>
	</a>
	<br>
	<br>
	<br>
	<br>
	<h1>ENMIENDAS</h1>
	<div class="container-fluid contenedor text-center">
		<div class=" container text-center">

			{% for obj in object_list %}
			{% with obj.title|split:' - ' as vec_titulos %}
			{% ifequal vec_titulos.0 'AMDT' %}
			<a href="http://google.com" target="_blank" rel="noopener noreferrer">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
					<div class="ver_mas text-center">
						<span class="lnr lnr-eye"></span>
						Publicar
					</div>
					<article class="text-left">
						<h2>{{vec_titulos.1}}</h2>
						<h6>{{obj.description}}</h6>
						{% for doc in document_list %}
						{% if doc.document_id == obj.id %}
						<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
							<button class="btn btn-info" style="margin: 0 5px 10px 0;">{{doc}}</button>
						</a>
						{% endif %}
						{% endfor %}
					</article>
					<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
						alt="">
				</div>
			</a>
			{% endifequal%}
			{% endwith%}
			{% endfor%}
		</div>
	</div>





	{% for obj in object_list %}
	<div class="row row-0-gutter">
		<div class="col-md-8 col-md-offset-2 col-0-gutter">
			<h2><strong>{{ obj.title }}</strong></h2>
			<p>{{ obj.description }}</p>
			{% for doc in document_list %}
			{% if doc.document_id == obj.id %}
			<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
				<button class="btn btn-info" style="margin: 0 5px 10px 0;">{{doc}}</button>
			</a>
			{% endif %}
			{% endfor %}
			<hr>
		</div>
	</div>
	{% endfor %}

	</div>
</section>

<!--
	<section id="about" class="mz-module">
		<div class="container light-bg">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h2>ABOUT</h2>
					</div>
				</div>
				<div class="col-md-10 col-md-offset-1 text-center">
					<div class="mz-about-container">
						<p>Django Document Viewer is a platform where users can register and then upload their documents. These documents can be viewed by anyone. Accepted Document Formats are PDF, ODT, FODT <br>
						This project was made as a screening task for the <a href="https://fossee.in/" target="_blank">FOSSEE Fellowship 2019 Collaborative Communities</a></p><br>
					</div>
				</div>
			</div>
		</div>
	</section>

-->

{% endblock content %}

{% block JS %}
{% endblock JS %}