{% extends "base.html" %}
{% load static %}

{% load apptags %}


{% block CSS %}
<link href="{% static 'css/style_display_documents.css' %}" rel="stylesheet">
{% endblock CSS %}


{% block content %}


<section>
	<div class="container">

		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="section-title">
					<h2>Publicación de Información Aeronáutica</h2>
					<h3>Servicio Nacional de Información Aeronáutica</h3>
				</div>
			</div>
		</div>





		<ul class="nav nav-tabs">
			<li class="active">
				<a data-toggle="tab" href="#menu0">PUBLICACION AERONAUTICA</a>
			</li>
			{% if user.is_staff %}
			<li>
				<a data-toggle="tab" href="#menu1">ADMINISTRADOR</a>
			</li>
			{% endif %}

		</ul>

		<div class="tab-content">

			<div id="menu0" class="tab-pane fade in active">
				<div class="container-fluid">
					<div class="row row-no-gutters">
						<div class="col-lg-6">
							<h1>RECIENTES </h1>

							<div class="container-fluid">
								<a href="{% url 'documents:view' %}" rel="noopener noreferrer">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
										<div class="ver_mas text-center">
											<span class="lnr lnr-eye"></span>
											<button class="btn btn-info"
												style="margin: 0 5px 10px 0; width: 100%; height: 100%;">{doc}}</button>
										</div>
										<article class="text-left">
											<h2>AMDT</h2>
										</article>
										<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
											alt="">
									</div>
								</a>

								<a href="{% url 'documents:view' %}" rel="noopener noreferrer">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
										<div class="ver_mas text-center">
											<span class="lnr lnr-eye"></span>
											<button class="btn btn-info"
												style="margin: 0 5px 10px 0; width: 100%; height: 100%;">{doc}}</button>
										</div>
										<article class="text-left">
											<h2>SUP</h2>

										</article>
										<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
											alt="">
									</div>
								</a>

							</div>
							<div class="container">
								<h2>Modal Example</h2>
								<!-- Trigger the modal with a button -->
								<button type="button" class="btn btn-info btn-lg" data-toggle="modal"
									data-target="#myModal"><a href="{% url 'documents:get_document' pk=3 %}" target="_blank" class="btn btn-primary">VER JSON RESPONSE
									</a></button>
								<!-- Modal -->
								<div class="modal fade" id="myModal" role="dialog">
									<div class="modal-dialog">

										<!-- Modal content-->
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close"
													data-dismiss="modal">&times;</button>
												<h4 class="modal-title">Modal Header</h4>
											</div>
											<div class="modal-body">
												<p>Some text in the modal. {{url}}</p>

												<div class=" container ">
													<object
														data='/viewerjs/index.html#http://127.0.0.1:8000/media/GEN_1.pdf'
														type="application/pdf" width="500" height="678">
														<iframe
															src='/viewerjs/index.html#http://127.0.0.1:8000/media/GEN_1.pdf'
															width="100%" height="678">
															<p>This browser does not support PDF!</p>
														</iframe>
													</object>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default"
													data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="col-lg-6" style="border-left: 1px solid #e2e2e2;">
							<h1>AIP DIGITAL</h1>

							<div class="container-fluid">

								<a  rel="noopener noreferrer">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
										<div class="ver_mas text-center">
											<span class="lnr lnr-eye"></span>
											<button class="btn btn-info" data-toggle="modal" data-target="#ModalGEN"
												style="margin: 0 5px 10px 0; width: 100%; height: 100%;">ver</button>
										</div>
										<article class="text-left">
											<h2>GEN</h2>
										</article>
										<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
											alt="">
											<!-- FIN MODEL CONTENT -->
										</div>
									</a>
									<div class="modal fade" id="ModalGEN" role="dialog">
										<div class="modal-dialog">
											<!-- Modal content-->
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close"
														data-dismiss="modal">&times;</button>
													<h3 class="modal-title">GENERALIDADES</h3>
												</div>
												<div class="modal-body">

															{% for obj in object_list %}
															{% with obj.title|split:' - ' as vec_titulos %}
															{% ifequal vec_titulos.0 'GEN' %}
															{% for doc in document_list %}
															{% if doc.document_id == obj.id %}
															<a href="http://google.com" target="_blank" rel="noopener noreferrer">
																<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 container_foto ">
																	<div class="ver_mas text-center">
																	<span class="lnr lnr-eye"></span>
																	<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
																		<button class="btn btn-info" style="margin: 0 5px 10px 0; width: 100%; height: 100%;">{{doc}}</button>
																	</a>
																	</div>
																	<article class="text-left">
																		<h4>{{vec_titulos.0}}</h4>
																	</article>
																	<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
																		alt="">
																</div>
															</a>
															{% endif %}
															{% endfor %}
															{% endifequal%}
															{% endwith%}
															{% endfor%}
												</div>
												<div class="modal-footer">
												</div>
											</div>
										</div>
									</div>

								<a  rel="noopener noreferrer">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
										<div class="ver_mas text-center">
											<span class="lnr lnr-eye"></span>
											<button class="btn btn-info" data-toggle="modal" data-target="#ModalAD"
												style="margin: 0 5px 10px 0; width: 100%; height: 100%;">ver</button>
										</div>
										<article class="text-left">
											<h2>AD</h2>
										</article>
										<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
											alt="">
									</div>
								</a>
								<div class="modal fade" id="ModalAD" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
									<div class="modal-dialog modal-lg">
									  <div class="modal-content">
										<div class="modal-header">
												<button type="button" class="close" onclick="document.getElementById('ad2intl').style.display='none'; document.getElementById('ad2ntl').style.display='none'"
													data-dismiss="modal">&times;</button>
													<h3 class="modal-title">AERODROMOS</h3>
													</div>
													<div class="modal-body">
															<div class="row col-md-12">
																<div class="col-md-3">
																	<h5>AD0</h5>
																	{% for obj in object_list %}
																	{% with obj.title|split:' - ' as vec_titulos %}
																	{% ifequal vec_titulos.0 'AD0' %}
																	{% for doc in document_list %}
																	{% if doc.document_id == obj.id %}
																	<a href="http://google.com" target="_blank" rel="noopener noreferrer">
																		<div class="col-md-12 container_foto ">
																			<div class="ver_mas text-center">
																			<span class="lnr lnr-eye"></span>
																			<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
																				<button class="btn btn-info" style="margin: 0 5px 10px 0; width: 100%; height: 100%;">{{doc}}</button>
																			</a>
																			</div>
																			<article class="text-center">
																				<h4>{{doc}}</h4>
																			</article>
																			<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
																				alt="">
																		</div>
																	</a>
																	{% endif %}
																	{% endfor %}
																	{% endifequal%}
																	{% endwith%}
																	{% endfor%}
																</div>
																<div class="col-md-3">
																	<h5>AD1</h5>
																	{% for obj in object_list %}
																	{% with obj.title|split:' - ' as vec_titulos %}
																	{% ifequal vec_titulos.0 'AD1' %}
																	{% for doc in document_list %}
																	{% if doc.document_id == obj.id %}
																	<a href="" target="_blank" rel="noopener noreferrer">
																		<div class="col-md-12 container_foto ">
																			<div class="ver_mas text-center">
																			<span class="lnr lnr-eye"></span>
																			<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
																				<button class="btn btn-info" style="margin: 0 5px 10px 0; width: 100%; height: 100%;">{{doc}}</button>
																			</a>
																		</div>
																		<article class="text-center">
																			<h4>{{doc}}</h4>
																		</article>
																			<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" class="img-fluid"
																				alt="">
																		</div>
																	</a>
																	{% endif %}
																	{% endfor %}
																	{% endifequal%}
																	{% endwith%}
																	{% endfor%}
																</div>
																<div class="col-md-3">
																	<h5>AD2INTL</h5>
																	<a href="" target="_blank" rel="noopener noreferrer">
																		<div class="col-md-12 container_foto ">
																			<div class="ver_mas text-center">
																			<span class="lnr lnr-eye"></span>
																			<a href="javascript:;" onclick="document.getElementById('ad2intl').style.display='block'; document.getElementById('ad2ntl').style.display='none';">
																				<button class="btn btn-info" style="margin: 0 5px 10px 0; width: 100%; height: 100%;">AD2INTL</button>
																			</a>
																			</div>
																			<article class="text-center">
																				<h4>AD2INTL</h4>
																		</article>
																			<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" class="img-fluid"
																				alt="">
																		</div>
																	</a>
																</div>
																<div class="col-md-3">
																	<h5>AD2NTL</h5>
																	<a href="" target="_blank" rel="noopener noreferrer">
																		<div class="col-md-12 container_foto ">
																			<div class="ver_mas text-center">
																			<span class="lnr lnr-eye"></span>
																			<a href="javascript:;" onclick="document.getElementById('ad2ntl').style.display='block';document.getElementById('ad2intl').style.display='none';">
																				<button class="btn btn-info" style="margin: 0 5px 10px 0; width: 100%; height: 100%;" >AD2NTL</button>
																			</a>
																			</div>
																			<article class="text-center">
																				<h4>AD2NTL</h4>
																			</article>
																			<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" class="img-fluid"
																				alt="">
																		</div>
																	</a>
																</div>
																</div>
															<div class="row col-md-12">
																<div class="row" id="ad2intl" style="display:none;" >
																	<hr>
																	<h5>LISTA AD2INTL</h5>
																	<div class="table-responsive">
																		<table class="table table-striped">
																			<thead>
																				<tr>
																					<td>NOMBRE</td>
																					<td>VER PDF</td>
																				</tr>
																			</thead>
																			<tbody>
																				{% for obj in object_list %}
																				{% with obj.title|split:' - ' as vec_titulos %}
																				{% ifequal vec_titulos.0 'AD2INTL' %}
																				{% for doc in document_list %}
																				{% if doc.document_id == obj.id %}
																				<tr>
																					<td>{{doc}}</td>
																					<td>
																						<a class="btn btn-info" href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank" type="button">VER</a>
																					</td>
																				</tr>
																				{% endif %}
																				{% endfor %}
																				{% endifequal%}
																				{% endwith%}
																				{% endfor%}
																			</tbody>
																		</table>
																	</div>
																</div>
																<div class="row" id="ad2ntl" style="display:none;" >
																	<hr>
																	<h5>LISTA AD2NTL</h5>
																	<div class="table-responsive">
																		<table class="table table-striped">
																			<thead >
																				<tr>
																					<td>NOMBRE</td>
																					<td>VER PDF</td>
																				</tr>
																			</thead>
																			<tbody>
																				{% for obj in object_list %}
																				{% with obj.title|split:' - ' as vec_titulos %}
																				{% ifequal vec_titulos.0 'AD2NTL' %}
																				{% for doc in document_list %}
																				{% if doc.document_id == obj.id %}
																				<tr>
																					<td>{{doc}}</td>
																					<td>
																						<a class="btn btn-info" href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank" type="button">VER</a>
																					</td>
																				</tr>
																				{% endif %}
																				{% endfor %}
																				{% endifequal%}
																				{% endwith%}
																				{% endfor%}
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
													</div>
													<div class="modal-footer">
													</div>
												</div>
										</div>
								</div>


								<a  rel="noopener noreferrer">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
										<div class="ver_mas text-center">
											<span class="lnr lnr-eye"></span>
											<button class="btn btn-info"  data-toggle="modal" data-target="#ModalENR"
												style="margin: 0 5px 10px 0; width: 100%; height: 100%;">ver</button>
										</div>
										<article class="text-left">
											<h2>ENR</h2>

										</article>
										<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
											alt="">
										</div>
									</a>
									<div class="modal fade" id="ModalENR" role="dialog">
										<div class="modal-dialog">
											<!-- Modal content-->
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close"
														data-dismiss="modal">&times;</button>
													<h3 class="modal-title">EN RUTA</h3>
												</div>
												<div class="modal-body">
													{% for obj in object_list %}
													{% with obj.title|split:' - ' as vec_titulos %}
													{% ifequal vec_titulos.0 'ERN' %}
													{% for doc in document_list %}
													{% if doc.document_id == obj.id %}
													<a href="http://google.com" target="_blank" rel="noopener noreferrer">
														<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 container_foto ">
															<div class="ver_mas text-center">
															<span class="lnr lnr-eye"></span>
															<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
																<button class="btn btn-info" style="margin: 0 5px 10px 0; width: 100%; height: 100%;">{{doc}}</button>
															</a>
															</div>
															<article class="text-left">
																<h4>{{doc}}</h4>
															</article>
															<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
																alt="">
														</div>
													</a>
													{% endif %}
													{% endfor %}
													{% endifequal%}
													{% endwith%}
													{% endfor%}
												</div>
												<div class="modal-footer">
												</div>
											</div>
										</div>
									</div>

								<a  rel="noopener noreferrer">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
										<div class="ver_mas text-center">
											<span class="lnr lnr-eye"></span>
											<button class="btn btn-info" data-toggle="modal" data-target="#ModalSUP"
												style="margin: 0 5px 10px 0; width: 100%; height: 100%;">ver</button>
										</div>
										<article class="text-left">
											<h2>SUP</h2>

										</article>
										<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
											alt="">
										</div>
									</a>
									<div class="modal fade" id="ModalSUP" role="dialog">
										<div class="modal-dialog">
											<!-- Modal content-->
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close"
														data-dismiss="modal">&times;</button>
													<h3 class="modal-title">SUMPLEMENTOS</h3>
												</div>
												<div class="modal-body">
													{% for obj in object_list %}
													{% with obj.title|split:' - ' as vec_titulos %}
													{% ifequal vec_titulos.0 'SUP' %}
													{% for doc in document_list %}
													{% if doc.document_id == obj.id %}
													<a href="http://google.com" target="_blank" rel="noopener noreferrer">
														<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 container_foto ">
															<div class="ver_mas text-center">
															<span class="lnr lnr-eye"></span>
															<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
																<button class="btn btn-info" style="margin: 0 5px 10px 0; width: 100%; height: 100%;">{{doc}}</button>
															</a>
															</div>
															<article class="text-left">
																<h4>{{doc}}</h4>
															</article>
															<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
																alt="">
														</div>
													</a>
													{% endif %}
													{% endfor %}
													{% endifequal%}
													{% endwith%}
													{% endfor%}
												</div>
												<div class="modal-footer">
												</div>
											</div>
										</div>
									</div>

								<a  rel="noopener noreferrer">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
										<div class="ver_mas text-center">
											<span class="lnr lnr-eye"></span>
											<button class="btn btn-info" data-toggle="modal" data-target="#ModalAIC"
												style="margin: 0 5px 10px 0; width: 100%; height: 100%;">ver</button>
										</div>
										<article class="text-left">
											<h2>AIC</h2>

										</article>
										<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
											alt="">
									</div>
								</a>
								<div class="modal fade" id="ModalAIC" role="dialog">
									<div class="modal-dialog">
										<!-- Modal content-->
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close"
													data-dismiss="modal">&times;</button>
												<h3 class="modal-title">CIRTULAR DE INFORMACION AERONAUTICA</h3>
											</div>
											<div class="modal-body">
												{% for obj in object_list %}
												{% with obj.title|split:' - ' as vec_titulos %}
												{% ifequal vec_titulos.0 'AIC' %}
												{% for doc in document_list %}
												{% if doc.document_id == obj.id %}
												<a href="http://google.com" target="_blank" rel="noopener noreferrer">
													<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 container_foto ">
														<div class="ver_mas text-center">
														<span class="lnr lnr-eye"></span>
														<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
															<button class="btn btn-info" style="margin: 0 5px 10px 0; width: 100%; height: 100%;">{{doc}}</button>
														</a>
														</div>
														<article class="text-left">
															<h4>{{doc}}</h4>
														</article>
														<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
															alt="">
													</div>
												</a>
												{% endif %}
												{% endfor %}
												{% endifequal%}
												{% endwith%}
												{% endfor%}
											</div>
											<div class="modal-footer">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			{% if user.is_staff %}
			<div id="menu1" class="tab-pane fade">

				<div class="container-fluid">
					<div class="row row-no-gutters">
						<div class="col-lg-6">
							<h1>GESTION DE DOCUMENTOS</h1>

							<div class="container-fluid">
								<!-- OPCIONAL -->
								<a href="{% url 'documents:user_doc' %}" rel="noopener noreferrer">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
										<div class="ver_mas text-center">
											<span class="lnr lnr-eye"></span>
											<button class="btn btn-info"
												style="margin: 0 5px 10px 0; width: 100%; height: 100%;">{doc}}</button>
										</div>
										<article class="text-left">
											<h2>DOCUMENTOS</h2>

										</article>
										<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
											alt="">
									</div>
								</a>
								<!-- FIN OPCIONAL -->

								<a href="{% url 'documents:add' %}" rel="noopener noreferrer">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
										<div class="ver_mas text-center">
											<span class="lnr lnr-eye"></span>
											<button class="btn btn-info"
												style="margin: 0 5px 10px 0; width: 100%; height: 100%;">{doc}}</button>
										</div>
										<article class="text-left">
											<h2>AGREGAR</h2>

										</article>
										<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
											alt="">
									</div>
								</a>

								<a href="{% url 'documents:user_doc' %}" rel="noopener noreferrer">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
										<div class="ver_mas text-center">
											<span class="lnr lnr-eye"></span>
											<button class="btn btn-info"
												style="margin: 0 5px 10px 0; width: 100%; height: 100%;">{doc}}</button>
										</div>
										<article class="text-left">
											<h2>EDITAR</h2>

										</article>
										<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
											alt="">
									</div>
								</a>


							</div>


						</div>


						<div class="col-lg-6" style="border-left: 1px solid #e2e2e2;">
							<h1>GESTION DE USUARIOS</h1>

							<div class="container-fluid">

								<a href="{% url 'display_users' %}" rel="noopener noreferrer">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
										<div class="ver_mas text-center">
											<span class="lnr lnr-eye"></span>
											<button class="btn btn-info"
												style="margin: 0 5px 10px 0; width: 100%; height: 100%;">{doc}}</button>
										</div>
										<article class="text-left">
											<h2 style="font-size:27px">USUARIOS</h2>

										</article>
										<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
											alt="">
									</div>
								</a>

								<a href="{% url 'register' %}" rel="noopener noreferrer">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
										<div class="ver_mas text-center">
											<span class="lnr lnr-eye"></span>
											<button class="btn btn-info"
												style="margin: 0 5px 10px 0; width: 100%; height: 100%;">{doc}}</button>
										</div>
										<article class="text-left">
											<h2>NUEVO</h2>

										</article>
										<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
											alt="">
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>

			</div>

			{% endif %}

		</div>





		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

		<h1>GENERALIDADES</h1>
		<div class="container-fluid contenedor text-center">
			<div class=" container text-center">
				{% for obj in object_list %}
				{% with obj.title|split:' - ' as vec_titulos %}
				{% ifequal vec_titulos.0 'GEN' %}
				{% for doc in document_list %}
				{% if doc.document_id == obj.id %}
				<a href="http://google.com" target="_blank" rel="noopener noreferrer">
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
						<div class="ver_mas text-center">
							<span class="lnr lnr-eye"></span>
							ojo
						</div>
						<article class="text-left">
							<h2>{{doc}}</h2>
							<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
								<button class="btn btn-info" style="margin: 0 5px 10px 0;">{{doc}}</button>
							</a>
						</article>
						<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
							alt="">
					</div>
				</a>
				{% endif %}
				{% endfor %}

				{% endifequal%}
				{% endwith%}
				{% endfor%}
			</div>
		</div>

		<br>
		<br>
		<br>
		<br>

		<h1>AERODROMOS</h1>



		<ul class="nav nav-tabs">
			<li class="active">
				<a data-toggle="tab" href="#home">AD 0</a>
			</li>
			<li>
				<a data-toggle="tab" href="#menu1">AD 1</a>
			</li>
			<li>
				<a data-toggle="tab" href="#menu2">AD 2 INTL</a>
			</li>
			<li>
				<a data-toggle="tab" href="#menu3">AD 2 NTL</a>
			</li>
		</ul>

		<div class="tab-content">

			<div id="home" class="tab-pane fade in active">
				<h3>HOME</h3>
				<!-- <object data='https://pdfjs-express.s3-us-west-2.amazonaws.com/docs/choosing-a-pdf-viewer.pdf'
					type="application/pdf" width="500" height="678">
					<iframe src='https://pdfjs-express.s3-us-west-2.amazonaws.com/docs/choosing-a-pdf-viewer.pdf'
						width="100%" height="678">
						<p>This browser does not support PDF!</p>
					</iframe>
				</object> -->


				<div class=" container text-center">
					{% for obj in object_list %}
					{% with obj.title|split:' - ' as vec_titulos %}
					{% ifequal vec_titulos.0 'AD0' %}
					{% for doc in document_list %}
					{% if doc.document_id == obj.id %}

					<div>
						<iframe id="pdf-js-viewer" src="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}"
							title="webviewer" frameborder="0" width="1100" height="800"></iframe>
					</div>

					{% endif %}
					{% endfor %}

					{% endifequal%}
					{% endwith%}
					{% endfor%}
				</div>



			</div>

			<div id="menu1" class="tab-pane fade">
				<div class=" container text-center">
					{% for obj in object_list %}
					{% with obj.title|split:' - ' as vec_titulos %}
					{% ifequal vec_titulos.0 'AD1' %}
					{% for doc in document_list %}
					{% if doc.document_id == obj.id %}
					<object data='/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}' type="application/pdf"
						width="500" height="678">
						<iframe src='/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}' width="100%"
							height="678">
							<p>This browser does not support PDF!</p>
						</iframe>
					</object>

					{% endif %}
					{% endfor %}

					{% endifequal%}
					{% endwith%}
					{% endfor%}
				</div>
			</div>
			<div id="menu2" class="tab-pane fade">
				<div class=" container text-center">
					{% for obj in object_list %}
					{% with obj.title|split:' - ' as vec_titulos %}
					{% ifequal vec_titulos.0 'AD1' %}
					{% for doc in document_list %}
					{% if doc.document_id == obj.id %}
					<object data='/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}' type="application/pdf"
						width="500" height="678">
						<iframe src='/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}' width="100%"
							height="678">
							<p>This browser does not support PDF!</p>
						</iframe>
					</object>

					{% endif %}
					{% endfor %}

					{% endifequal%}
					{% endwith%}
					{% endfor%}
				</div>
			</div>
			<div id="menu3" class="tab-pane fade">
				<h3>Menu 3</h3>
				<div class=" container text-center">
					{% for obj in object_list %}
					{% with obj.title|split:' - ' as vec_titulos %}
					{% ifequal vec_titulos.0 'AD0' %}
					{% for doc in document_list %}
					{% if doc.document_id == obj.id %}
					<object data='/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}' type="application/pdf"
						width="500" height="678">
						<iframe src='/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}' width="100%"
							height="678">
							<p>This browser does not support PDF!</p>
						</iframe>
					</object>

					{% endif %}
					{% endfor %}

					{% endifequal%}
					{% endwith%}
					{% endfor%}
				</div>
			</div>
		</div>
	</div>







	<h2>AD 0</h2>
	<div class="container-fluid contenedor text-center">
		<div class=" container text-center">
			{% for obj in object_list %}
			{% with obj.title|split:' - ' as vec_titulos %}
			{% ifequal vec_titulos.0 'AD0' %}
			{% for doc in document_list %}
			{% if doc.document_id == obj.id %}
			<a href="http://google.com" target="_blank" rel="noopener noreferrer">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
					<div class="ver_mas text-center">
						<span class="lnr lnr-eye"></span>
						Publicar
					</div>
					<article class="text-left">
						<h2>{{doc}}</h2>
						<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
							<button class="btn btn-info" style="margin: 0 5px 10px 0;">{{doc}}</button>
						</a>
					</article>
					<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
						alt="">
				</div>
			</a>
			{% endif %}
			{% endfor %}

			{% endifequal%}
			{% endwith%}
			{% endfor%}
		</div>
	</div>



	<h2>AD 1</h2>
	<div class="container-fluid contenedor text-center">
		<div class=" container text-center">
			{% for obj in object_list %}
			{% with obj.title|split:' - ' as vec_titulos %}
			{% ifequal vec_titulos.0 'AD1' %}
			{% for doc in document_list %}
			{% if doc.document_id == obj.id %}
			<a href="http://google.com" target="_blank" rel="noopener noreferrer">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
					<div class="ver_mas text-center">
						<span class="lnr lnr-eye"></span>
						Publicar
					</div>
					<article class="text-left">
						<h2>{{doc}}</h2>
						<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
							<button class="btn btn-info" style="margin: 0 5px 10px 0;">{{doc}}</button>
						</a>
					</article>
					<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
						alt="">
				</div>
			</a>

			{% endif %}
			{% endfor %}

			{% endifequal%}
			{% endwith%}
			{% endfor%}
		</div>
	</div>


	<h2>AD 2 INTL</h2>
	<div class="container-fluid contenedor text-center">
		<div class=" container text-center">
			{% for obj in object_list %}
			{% with obj.title|split:' - ' as vec_titulos %}
			{% ifequal vec_titulos.0 'AD2INTL' %}
			{% for doc in document_list %}
			{% if doc.document_id == obj.id %}
			<a href="http://google.com" target="_blank" rel="noopener noreferrer">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
					<div class="ver_mas text-center">
						<span class="lnr lnr-eye"></span>
						Publicar
					</div>
					<article class="text-left">
						<h2>{{doc}}</h2>
						<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
							<button class="btn btn-info" style="margin: 0 5px 10px 0;">{{doc}}</button>
						</a>
					</article>
					<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
						alt="">
				</div>
			</a>
			{% endif %}
			{% endfor %}

			{% endifequal%}
			{% endwith%}
			{% endfor%}
		</div>
	</div>



	<h2>AD 2 NTL</h2>
	<div class="container-fluid contenedor text-center">
		<div class=" container text-center">
			{% for obj in object_list %}
			{% with obj.title|split:' - ' as vec_titulos %}
			{% ifequal vec_titulos.0 'AD2NTL' %}
			{% for doc in document_list %}
			{% if doc.document_id == obj.id %}
			<a href="http://google.com" target="_blank" rel="noopener noreferrer">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
					<div class="ver_mas text-center">
						<span class="lnr lnr-eye"></span>
						Publicar
					</div>
					<article class="text-left">
						<h2>{{doc}}</h2>
						<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
							<button class="btn btn-info" style="margin: 0 5px 10px 0;">{{doc}}</button>
						</a>
					</article>
					<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
						alt="">
				</div>
			</a>
			{% endif %}
			{% endfor %}

			{% endifequal%}
			{% endwith%}
			{% endfor%}
		</div>
	</div>





	<br>
	<br>
	<br>
	<br>

	<h1>ENR - EN RUTA</h1>
	<div class="container-fluid contenedor text-center">
		<div class=" container text-center">
			{% for obj in object_list %}
			{% with obj.title|split:' - ' as vec_titulos %}
			{% ifequal vec_titulos.0 'ERN' %}
			{% for doc in document_list %}
			{% if doc.document_id == obj.id %}
			<a href="http://google.com" target="_blank" rel="noopener noreferrer">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
					<div class="ver_mas text-center">
						<span class="lnr lnr-eye"></span>
						Publicar
					</div>
					<article class="text-left">
						<h2>{{doc}}</h2>
						<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
							<button class="btn btn-info" style="margin: 0 5px 10px 0;">{{doc}}</button>
						</a>
					</article>
					<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
						alt="">
				</div>
			</a>
			{% endif %}
			{% endfor %}

			{% endifequal%}
			{% endwith%}
			{% endfor%}
		</div>
	</div>

	<br>
	<br>
	<br>
	<br>

	<h1>CIRCULARES</h1>
	<a href="http://google.com" target="_blank" rel="noopener noreferrer">
		<div class="container-fluid contenedor text-center">
			<div class=" container text-center">
				{% for obj in object_list %}
				{% with obj.title|split:' - ' as vec_titulos %}
				{% ifequal vec_titulos.0 'AIC' %}
				{% for doc in document_list %}
				{% if doc.document_id == obj.id %}
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
					<div class="ver_mas text-center">
						<span class="lnr lnr-eye"></span>
						Publicar
					</div>
					<article class="text-left">
						<h2>{{doc}}</h2>
						<h6>{{obj.description}}</h6>
						<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
							<button class="btn btn-info" style="margin: 0 5px 10px 0;">{{doc}}</button>
						</a>
					</article>
					<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
						alt="">
				</div>
				{% endif %}
				{% endfor %}

				{% endifequal%}
				{% endwith%}
				{% endfor%}
			</div>
		</div>
	</a>
	<br>
	<br>
	<br>
	<br>
	<h1>ENMIENDAS</h1>
	<div class="container-fluid contenedor text-center">
		<div class=" container text-center">

			{% for obj in object_list %}
			{% with obj.title|split:' - ' as vec_titulos %}
			{% ifequal vec_titulos.0 'AMDT' %}
			<a href="http://google.com" target="_blank" rel="noopener noreferrer">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
					<div class="ver_mas text-center">
						<span class="lnr lnr-eye"></span>
						Publicar
					</div>
					<article class="text-left">
						<h2>{{vec_titulos.1}}</h2>
						<h6>{{obj.description}}</h6>
						{% for doc in document_list %}
						{% if doc.document_id == obj.id %}
						<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
							<button class="btn btn-info" style="margin: 0 5px 10px 0;">{{doc}}</button>
						</a>
						{% endif %}
						{% endfor %}
					</article>
					<img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg"
						alt="">
				</div>
			</a>
			{% endifequal%}
			{% endwith%}
			{% endfor%}
		</div>
	</div>





	{% for obj in object_list %}
	<div class="row row-0-gutter">
		<div class="col-md-8 col-md-offset-2 col-0-gutter">
			<h2><strong>{{ obj.title }}</strong></h2>
			<p>{{ obj.description }}</p>
			{% for doc in document_list %}
			{% if doc.document_id == obj.id %}
			<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
				<button class="btn btn-info" style="margin: 0 5px 10px 0;">{{doc}}</button>
			</a>
			{% endif %}
			{% endfor %}
			<hr>
		</div>
	</div>
	{% endfor %}

	</div>
</section>

<!--
	<section id="about" class="mz-module">
		<div class="container light-bg">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h2>ABOUT</h2>
					</div>
				</div>
				<div class="col-md-10 col-md-offset-1 text-center">
					<div class="mz-about-container">
						<p>Django Document Viewer is a platform where users can register and then upload their documents. These documents can be viewed by anyone. Accepted Document Formats are PDF, ODT, FODT <br>
						This project was made as a screening task for the <a href="https://fossee.in/" target="_blank">FOSSEE Fellowship 2019 Collaborative Communities</a></p><br>
					</div>
				</div>
			</div>
		</div>
	</section>

-->

{% endblock content %}

{% block JS %}
{% endblock JS %}